@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.cbutton {
  overflow: hidden;
  border-radius: 155px;
  max-width: max-content;
  min-width: min-content;
  padding: 6px 12px;

  color: $mainColor;
  font-size: 16px;
  font-weight: 500;

  &.lightSkyBlue {
    background-color: $lightSkyBlue;
  }

  &.skyBlue {
    padding: 9.5px 16px;
    border-radius: 16px;
    color: $black;

    &:hover,
    &.active {
      background-color: $skyBlue;
      color: $mainColor;
    }
  }

  &.deepBlue {
    border-radius: 20px;
    background-color: $mainColor;
    color: $white;
    padding: 6.5px 20px;

    font-size: 14px;
    font-weight: 500;
  }

  &.counterBtn {
    border: 1px solid $counterBtnBorder;
    background-color: transparent;
    color: $black;
    padding: 6.5px 20px;
  }

  &.disabled {
    color: $black;
    background-color: $disabledBackground;
  }

  &.circle {
    border-radius: 50%;
    padding: 9px;
  }

  button {
    border: none;
    width: 100%;
    height: 100%;
    @include gridCenter;
    background-color: transparent;

    color: inherit;
    font-size: inherit;
    font-weight: inherit;

    line-height: 24px; /* 150% */

    white-space: nowrap;
  }
}
