@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.dynamic-section {
  margin-top: 40px;
  .section-title {
    margin-bottom: 20px;
  }

  .wrapper {
    display: flex;
    align-items: stretch;
    gap: 18px;

    @include md {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @include media(605px) {
      place-content: center;
    }
  }
}
