// $grey: #ffffffb3;
// $mainFontDark: #040128;
// $lightBlue: #02b4e0;
// $blueBtn: #2e318f;

$white: #fff;
$black: #000;
$black2: #292929;
$mainColor: #5982e7;
$darkGrey: #252c32;
$disabledText: #90908f;
$disabledBackground: #f5f5f5;
$greyText: #48535b;
$copyrightTextColor: #808080;
$footerBorderColor: rgba(0, 0, 0, 0.1);

$lightSkyBlue: rgba(232, 244, 252, 0.7);
$skyBlue: rgba(232, 244, 252, 1);
$counterBtnBorder: #b0c7ff;

$Inter: "Inter";
