@use "../../styles/mixins" as *;

.horizontal-scroll {
  overflow-x: scroll;
  margin-top: 32px;

  &::-webkit-scrollbar {
    height: 5px;
  }
  .category-nav {
    @include alignItems {
      gap: 8px;
    }

    @include md {
      gap: 12px;
    }
  }
}
