@use "../../styles/mixins" as *;
@use "../../styles/vars" as *;

.card {
  @include flexColumn;
  border-radius: 16px;
  background: $white;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
  max-width: max-content;
  padding: 16px;
  max-width: 287px;
  position: relative;

  @include md {
    max-width: 170px;
  }

  @include media(390px) {
    max-width: 100%;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &-img {
    margin-bottom: 12px;
  }

  &-title {
    color: $black;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    margin-bottom: 7px;

    @include md {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 14px;
    }
  }

  &-subtitle {
    color: $greyText;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin-bottom: 12px;

    @include md {
      display: none;
    }
  }

  &-footer {
    @include justifyContent;
    gap: 8px;
    flex-wrap: wrap;

    .price {
      font-size: 14px;

      b {
        font-size: 18px;

        @include md {
          font-size: 16px;
        }
      }
    }

    @include md {
      @include flexColumn;
      align-items: flex-start;
      gap: 12px;
    }

    .cbutton {
      margin-left: auto;

      @include lg {
        margin-left: unset;

        max-width: 100%;
        width: 100%;
      }
    }
  }
}
