@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

footer {
  margin-top: 40px;
  position: relative;
  padding: 24px 0;
  .top {
    @include justifyContent;

    @include sm {
      display: block;
      margin-top: 32px;
    }

    padding: 14px 0;
    margin-bottom: 40px;

    .logo {
      color: $mainColor;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 900;
      line-height: 20px; /* 83.333% */
      letter-spacing: -3px;
    }

    ul {
      @include alignItems {
        gap: 40px;
      }

      @include sm {
        margin-top: 24px;
        @include flexColumn {
          align-items: flex-start;
          gap: 16px;
        }
      }

      a {
        color: $black;
        font-feature-settings: "clig" off, "liga" off;

        font-size: 18px;
        line-height: 24px; /* 133.333% */
      }
    }
  }

  .bottom {
    padding-top: 40px;
    border-top: 1px solid $footerBorderColor;
    @include justifyContent;

    @include sm {
      padding-top: 32px;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 20px;
    }

    p {
      color: $copyrightTextColor;
      font-size: 16px;
      line-height: 20px; /* 125% */
    }

    .socials {
      @include alignItems {
        gap: 16px;
      }

      > * {
        cursor: pointer;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: $footerBorderColor;
  }
}
