@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

nav {
  @include justifyContent {
  }

  padding: 14px 0;

  @include md {
    flex-wrap: wrap;
    padding: 0;
  }

  .left {
    @include alignItems;

    .mobile-menu-icon {
      display: none;
      cursor: pointer;
      margin-right: 12px;

      @include md {
        @include gridCenter;
      }
    }

    .logo {
      color: $mainColor;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 900;
      line-height: 20px; /* 83.333% */
      letter-spacing: -3px;

      margin-right: 40px;
    }

    .nav-menu {
      width: 333px;

      gap: 32px;
      @include justifyContent;

      a {
        color: $black;
        font-feature-settings: "clig" off, "liga" off;
      }

      @include md {
        display: none;
      }
    }

    .mobile-cart-icon {
      display: none;
      margin-inline-start: auto;
      margin-left: auto;

      @include md {
        display: block;
      }
    }

    @include md {
      width: 100%;
      min-height: 50px;
    }
  }
  .right {
    @include justifyContent;

    .delivery {
      margin-right: 32px;

      @include justifyContent {
        gap: 8px;
      }

      &-text {
        @include media(1050px) {
          display: none;
        }
        @include md {
          display: block;
        }
      }

      &-title {
        color: $black;
        font-size: 14px;
      }

      &-subtitle {
        margin-top: 4px;
        color: $mainColor;
        font-size: 13px;
      }

      @include media(1050px) {
        margin-right: 12px;
      }

      // @include md {
      //   display: none;
      // }
    }

    .cart-icon {
      margin-right: 12px;

      @include md {
        display: none;
      }
    }

    .lang-icon {
      margin-right: 16px;

      @include md {
        display: none;
      }
    }

    .login {
      @include md {
        display: none;
      }
    }

    @include md {
      width: 100%;
      min-height: 50px;
    }
  }
}
